= form_for(@movie) do |f|
  - if @movie.errors.any?
    #error_explanation
      %h2
        = pluralize(@movie.errors.count, "error")
        prohibited this movie from being saved:
      %ul
        - @movie.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name
    %div.center-text
      %a#movie_suggestion.suggestion.hidden
  .field
    = f.label :link
    %br/
    = f.text_field :link
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .field.hidden
    = f.label :imdb_id
    %br/
    = f.text_area :imdb_id
  .actions
    = f.submit
