%h1 Listing movies
%p.float-right
  = link_to new_movie_path do
    %i.fa.fa-plus.fa-2x
%table
  %thead
    %tr
      %th
      %th Name
      %th Show
      - if current_user.try :admin?
        %th Edit
        %th Destroy

  %tbody
    - @movies.each do |movie|
      %tr
        %td
          %img.small-avatar{class: "movie_poster_#{movie.imdb_id}"}
          %span#movie_id.hidden= movie.imdb_id
        %td
          %a{href: movie.link}= movie.name
        %td
          = link_to movie do
            %i.fa.fa-search
        - if current_user.try :admin?
          %td
            = link_to edit_movie_path(movie) do
              %i.fa.fa-pencil-square-o.yellow
          %td
            = link_to movie, method: :delete, data: { confirm: 'Are you sure?' } do
              %i.fa.fa-trash-o.red
