.form
  %p#notice= notice
  = link_to movies_path, class: "backward" do
    %i.fa.fa-backward.fa-2x
  %p
    %strong Name:
    = @movie.name
  %p.hidden
    %strong imdbID:
    %span#movie_id= @movie.imdb_id
  %p
    %strong Link:
    = @movie.link
  %p
    %strong Description:
    = @movie.description
  = link_to 'Edit', edit_movie_path(@movie)
%img#movie_poster.beside-form.hidden
