.form
  %p#notice= notice
  %table
    %tr
      %td
        %strong Name :
      %td
        = @user.name
    %tr
      %td
        %strong Email :
      %td
        = @user.email
    %tr
      %td
        %strong Seen times :
      %td
        =  @user.sign_in_count
    %tr
      %td
        %strong Current login :
      %td
        =  @user.current_sign_in_at
    %tr
      %td
        %strong Last login :
      %td
        =  @user.last_sign_in_at
    %tr
      %td
        %strong Last IP :
      %td
        =  @user.last_sign_in_ip
    %tr
      %td
        %strong Current IP :
      %td
        =  @user.current_sign_in_ip
    %tr
      %td
        %strong Created at :
      %td
        =  @user.created_at
    %tr
      %td
        %strong Role :
      %td
        =  @user.role
  \#{link_to 'Back', users_path}
