%h1 Listing vote_options
%table
  %thead
    %tr
      %th Vote
      %th Movie
      %th Count
      %th{:colspan => "3"}
  %tbody
    - @vote_options.each do |vote_option|
      %tr
        %td= vote_option.vote
        %td= vote_option.movie
        %td= vote_option.count
        %td= link_to 'Show', vote_option
        %td= link_to 'Edit', edit_vote_option_path(vote_option)
        %td= link_to 'Destroy', vote_option, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Vote option', new_vote_option_path
