<p id="notice"><%= notice %></p>

<p>
  <strong>Vote:</strong>
  <%= @vote_option.vote %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @vote_option.movie %>
</p>

<p>
  <strong>Count:</strong>
  <%= @vote_option.count %>
</p>

<%= link_to 'Edit', edit_vote_option_path(@vote_option) %> |
<%= link_to 'Back', vote_options_path %>
