%p#notice= notice
%p
  %strong Vote:
  = @vote_option.vote
%p
  %strong Movie:
  = @vote_option.movie
%p
  %strong Count:
  = @vote_option.count
= link_to 'Edit', edit_vote_option_path(@vote_option)
|
\#{link_to 'Back', vote_options_path}
