%h1 Listing users
%table
  %thead
    %tr
      %th Email
      %th Approved By
      %th Show
      %th Destroy
  %tbody
    - User.find_each do |user|
      %tr
        %td= user.email
        - if user.user.nil?
          %td= link_to("Approve", user_path(user), method: :put, data: { confirm: "Are you sure? Approving #{user.email}" })
        -else
          %td= user.user.name || user.user.email
        %td
          = link_to user_path(user) do
            %i.fa.fa-search
        %td
          = link_to user_path(user), method: :delete, data: { confirm: "Are you sure? Deleting #{user.email}" } do
            %i.fa.fa-minus-circle.red
