%h1 Listing users
%table
  %thead
    %tr
      %th Email
      %th Name
      %th Approved By
      %th{:colspan => "2"}
  %tbody
    - User.find_each do |user|
      %tr
        %td= user.email
        %td= user.name
        %td= user.user.nil? ? link_to("Approve", user_path(user), method: :put) : (user.user.name || user.user_id)
        %td= link_to 'Show', user_path(user)
        %td= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }
