.form
  %p#notice= notice
  %table
    - User.statistics.each do |statistic|
      %tr
        %td
          %strong= statistic.humanize + " :"
        %td
          = @user.send statistic.to_sym
    %tr
      %td
        %strong Approved by :
      %td
        - if @user.user.nil?
          = link_to("Approve", user_path(@user, query: 'approve'), method: :put, data: { confirm: "Are you sure? Approving #{@user.email}" })
        -else
          = @user.user.name || @user.user.email
    %tr
      %td
        %strong Role :
      %td
        = @user.role
        - unless @user.admin?
          = link_to user_path(@user, query: 'promote'), method: :put, data: { confirm: "Are you sure? Promoting #{@user.email}" } do
            %i.fa.fa-level-up
    %tr
      %td
        %strong Destroy :
      %td
        = link_to user_path(@user), method: :delete, data: { confirm: "Are you sure? Deleting #{@user.email}" } do
          %i.fa.fa-minus-circle.red
    = link_to users_path do
      %i.fa.fa-backward.fa-2x

