.form
  %p#notice= notice

  %table
    - User.statistics.each do |statistic|
      %tr
        %td
          %strong= statistic.humanize + " :"
        %td
          = @user.send statistic.to_sym
    %tr
      %td
        %strong Approved by :
      - if @user.user.nil?
        %td= link_to("Approve", user_path(@user, query: 'approve'), method: :put, data: { confirm: "Are you sure? Approving #{@user.email}" })
      -else
        %td= @user.user.name || @user.user.email
  = link_to 'Promote', user_path(@user, query: 'promote'), method: :put, data: { confirm: "Are you sure? Promoting #{@user.email}" }
  |
  = link_to 'Destroy', user_path(@user), method: :delete, data: { confirm: "Are you sure? Deleting #{@user.email}" }
  |
  = link_to 'Back', users_path
