= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message
  .field.flex
    = f.label :date
    = ": "
    = f.date_select :date
  %h3 Vote
  #vote_options
    .exisiting
      = f.fields_for :vote_options do |vote_option|
        = render 'vote_option_fields', :f => vote_option
    .links
      = link_to_add_association 'add option', f, :vote_options
  .actions
    = f.submit
