%h1 Listing events
- if current_user.try :admin?
  %p.float-right
    = link_to new_event_path do
      %i.fa.fa-plus.fa-2x
%table
  %thead
    %tr
      %th Date
      %th Movie
      %th Show
      - if current_user.try :admin?
        %th Edit
        %th Destroy
  %tbody
    - @events.each do |event|
      %tr
        %td= event.date
        %td= event.movie && (event.movie.name || event.movie.id ) || "-Under vote-"
        %td
          = link_to event do
            %i.fa.fa-search
        - if current_user.try :admin?
          %td
            = link_to edit_event_path(event) do
              %i.fa.fa-pencil-square-o.yellow
          %td
            = link_to event, method: :delete, data: { confirm: 'Are you sure?' } do
              %i.fa.fa-trash-o.red
