.form
  %p
    %strong Date:
    = @event.date
  - if @event.movie.nil?
    %p
      %strong Vote:
      - for vote_option in @event.vote_options
        %p
          - unless vote_option.movie.nil?
            = vote_option.movie.name
            \-
  - else
    %p
      %strong Movie:
      = @event.movie.name
  - if current_user.try :admin?
    = link_to 'Edit', edit_event_path(@event)
    |
  \#{link_to 'Back', events_path}
