.form
  %p#notice= notice
  %p
    %strong Date:
    = @event.date
  %p
    %strong Movie:
    = @event.movie.name
  %p
    %strong Vote:
    - for vote_option in @event.vote.vote_options
      %p
        - unless vote_option.movie.nil?
          = vote_option.movie.name
          \-
          = vote_option.count
  = link_to 'Edit', edit_event_path(@event)
  |
  \#{link_to 'Back', events_path}
