.grid-items
  - if user_signed_in?
    = link_to movies_path, class: "grid-item" do
      %h1 Movies
      %p Add new movies
      %i.fa.fa-video-camera.fa-4x.logo
    = link_to votes_path, class: ['grid-item', 'grid-item-big', 'grid-item-image'] do
      %h1 Votes
      %p Vote for next event!
      %i.fa.fa-thumbs-o-up.fa-4x.logo
    = link_to events_path, class: ['grid-item', 'grid-item-big'] do
      %h1 Events
      %p Things we've done so far
      %i.fa.fa-calendar-o.fa-4x.logo
    = link_to invite_path, class: 'grid-item' do
      %h1 Invite friend
      %p Have a friend? Invite him!
      %i.fa.fa-user-plus.fa-4x.logo
    - if current_user.try :admin?
      = link_to admin_path, class: ['grid-item', 'grid-item-full'] do
        %h1 Admin tools
        %p Create, edit and destroy users, events, movies and votes.
        %i.fa.fa-connectdevelop.fa-4x.logo
  - else
    #map-canvas
