<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @vote.event %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @vote.closed %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
