%header.navigation
  .navigation-wrapper
    %a.logo{:href => "/"}
      %h1 Wieczorki Filmowe
    - if user_signed_in?
      %a#js-mobile-menu.navigation-menu-button{:href => ""} MENU
      .nav
        %ul#navigation-menu
          %li.nav-link
            = link_to "Vote", votes_path
          %li.nav-link
            = link_to "Events", events_path
          %li.nav-link
            = link_to "Movies", movies_path
          - if current_user.try :admin?
            %li.nav-link
              = link_to 'Admin', admin_path


    .navigation-tools
      - unless user_signed_in?
        = link_to 'Sign Up', new_user_registration_path, class: 'sign-up'
        = link_to 'Sign In', new_user_session_path, class: 'sign-up'
      - if user_signed_in?
        = link_to 'My Account', edit_user_registration_path, class: 'sign-up'
        = link_to 'Logout', destroy_user_session_path, { class: 'sign-up', method: :delete }

