%header.navigation
  .navigation-wrapper
    %a.logo{:href => "javascript:void(0)"}
      %h1 Wieczorki Filmowe
    %a#js-mobile-menu.navigation-menu-button{:href => ""} MENU
    .nav
      %ul#navigation-menu
        %li.nav-link
          %a{:href => "javascript:void(0)"} Vote
          %a{:href => "/events"} Events
          %a{:href => "/movies"} Movies
        - if user_signed_in? and current_user.admin?
          %li.nav-link
            = link_to 'Admin', admin_path


    .navigation-tools
      = link_to_unless user_signed_in?, 'Sign Up', new_user_registration_path, class: 'sign-up'
      = link_to_unless user_signed_in?, 'Sign In', new_user_session_path, class: 'sign-up'
      = link_to_if user_signed_in?, 'My Account', edit_user_registration_path, class: 'sign-up'
      = link_to_if user_signed_in?, 'Logout', destroy_user_session_path, { class: 'sign-up', method: :delete }

